.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  &.hideSidebar {
    .sidebar-wrapper {
      transform: translate(-140px, 0);
      .sidebar-container {
        transform: translate(132px, 0);
      }
      &:hover {
        transform: translate(0, 0);
        .sidebar-container {
          transform: translate(0, 0);
        }
      }
    }
    .main-container {
      margin-left: 40px;
    }
  }
  .headbar-wrapper {
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    transition: all .28s ease-out;
    background-color: #2d3a4b;
  }
  .sidebar-wrapper {
    position: fixed;
    width: 210px;
    top: 60px;
    bottom: 0px;
    left: 0px;
    z-index: 1001;
    overflow: hidden;
    transition: all .28s ease-out;
  }
  .sidebar-container {
    transition: all .28s ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
  }
  .main-container {
    min-height: 100%;
    transition: all .28s ease-out;
    margin-left: 210px;
  }
}